.container {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 256px;
    width: 256px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}